<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <title>Кинотеатр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<p th:text="Hello">
</p>
<p>
<form action="/get_data" method="post">
    Enter url address
<!--    <input type="url" class="form-control" name="url" th:value="${url}"/>-->
<!--    <input type="submit" class="btn btn-primary mb-2" value="Получить данные"/>-->
    <!--    <input th:formaction="@{/save_url}" type="submit" value="Сохранить адресс"/>-->
    <div class="input-group mb-3">
        <input type="url" class="form-control" th:value="${url}" name="url"
               placeholder="Url адресс" aria-describedby="basic-addon2">
        <div class="input-group-append">
<!--            <span class="input-group-text" id="basic-addon2">Получить данные</span>-->
            <button class="btn btn-outline-secondary" type="submit" id="basic-addon2">Получить данные</button>
        </div>
    </div>
</form>
</p>
<p>
    <a href="/all">Show all users</a>
</p>

<!--<label  th:text="${filmsFromForm[0].fr}"></label>-->

<form action="#" th:action="@{/run}" th:object="${form}"
      th:if="${not #lists.isEmpty(form)}" method="post">
    <fieldset>
<!--        <input type="submit" id="submitButton" th:value="Готово">-->
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Возрастной рейтинг</th>
                <th>Жанр</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film, itemStat : *{filmsList}">
                <td><input class="form-control" type="text" readonly
                           th:field="*{filmsList[__${itemStat.index}__].id}"/>
                </td>
                <td><input class="form-control" type="text" readonly
                           th:field="*{filmsList[__${itemStat.index}__].fr}"/>
                </td>
                <td>
                    <select class="custom-select" th:field="*{filmsList[__${itemStat.index}__].vr}">
                        <option value="Change">Выберите...</option>
                        <option value="0">0+</option>
                        <option value="6">6+</option>
                        <option value="12">12+</option>
                        <option value="16">16+</option>
                        <option value="18">18+</option>
                    </select>
                </td>
                <td><input type="text" class="form-control" placeholder="Введите жанр"
                           th:field="*{filmsList[__${itemStat.index}__].genre}"/></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary mb-2" id="submitButton" th:value="Готово">
    </fieldset>
</form>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>